// Define theme colors
$main-nav-bg: #333333;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.height-100 {
    height:100%;
}

.padding-0 {
    padding:0px !important;
}

.pl-0 {
    padding-left:0px !important;
}

//loding for common
.transparent {
    opacity: 0.4;
}
.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
    background-image: url('../images/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    z-index: 9999;
}


/******  dropdown select  ******/
.full-width + 
.btn-group {
    width: 100%;
    > .btn {
        display: block;
        text-align: left;
        width: 100%;
        > .caret {
            margin-top: 10px;
            float: right;
        }
    }
    > .dropdown-menu{
        width: 100%;
        > li > a {
            padding: 3px;
        }
    }
}
