$main-lt-active-bg : #1278BD;
$header-li-active-bg : #124f97;
$text-clr: #fff;

.home {
    .left-col{
        position: fixed;
        top: 0;
        left: 0;
        background: $main-lt-active-bg;

        .navbar {
            background: none;
            border: none;
            
            .navbar-header {
                height: 60px;
                width: 100%;
        
                .header_logo {
                    width: 100%;
                    text-align: center;
                    color: $text-clr;
                    padding-top: 20px;
                    font-weight: bold;
                    text-shadow: none;
            
                    .logo_icon {
                        background-image: url("../images/logo.jpg");
                        background-repeat: no-repeat;
                        background-size: 100% 100%;
                        height: 50px;
                    }
                }
            
            }
            
            .container-fluid {
                padding:0px !important;
                margin:0px !important;
        
                .navbar-collapse {
                    padding:0px !important;
        
                    .navbar-nav>li {
                        width:100%;
                    }
                    .navbar-nav > li > {
                        a{
                            color: $text-clr !important;
                            padding-left: 25px !important;
                            font-weight: bold;
                            text-shadow: none;
                        }
                        &:hover a, & a:focus, &.active a{
                            background: $header-li-active-bg !important;
                        }
                    }
                }
            }
        
        }          
    }
    .right-col {
        margin-left: 25%;
        min-height: 100%;
    }
}
